.categories h1 a {
    text-decoration: none;
    color: black;
  }

  .categories h1 a:visited {
    text-decoration: none;
    color: black;
  }

.categories {
    display: flex;
    gap: 30px; 
  }
  
  .categories h1 {
    font-size: 40px;
    padding: 20px;
    margin: 0; 
    text-decoration: none;
    color: black;

  }

  .categories h3 {
    margin: 0; 
    padding-top: 40px;
    padding-left: 40px;
    font-size: 26px;
  }

  .categories img.search {
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 20px;
    width: 50px; 
    height: 50px;
    margin: 10px 0;
  }

  .categories img.account {
    padding-top: 17px;
    width: 40px; 
    height: 40px;
    margin: 10px 0;
  }

  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .categories .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.categories .dropdown h3 {
    padding-top: 30px;
    margin: 0;
    padding: 10px;
    font-size: 26px;
}

.categories .dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    list-style-type: none;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 150px;
}



.categories .dropdown-menu li {
    padding: 5px 10px;
}

.categories .dropdown-menu a {
    text-decoration: none;
    color: black;
}

.categories .dropdown:hover .dropdown-menu {
    display: block;
}


  